.venv
machine_learning/Day1/831394006_T_ONTIME.csv
machine_learning/Day1/New_York_City_Map.PNG
machine_learning/Day1/ny_municipality_pois_id.csv
machine_learning/Day1/pois_all_info
machine_learning/Day1/NYC_POIs.zip
machine_learning/Day2/Lab3/AmesHousing.csv
machine_learning/Day2/Lab4/2d-synthetic.csv
